# Module 5 - Limpeza e preparação de dados

## 1\. Identificando e tratando dados ausentes

In [1]:
import pandas as pd
import numpy as np

In [28]:
# construindo um dataframe
df = pd.DataFrame(
    np.random.rand(9, 4) * 100,
    index=[chr(i) for i in range(ord("A"), ord("J"))],
    columns=["coluna%s" %i for i in range(1, 5)]
)
df

     coluna1    coluna2    coluna3    coluna4
A  19.224568   5.334578  42.255191  17.274552
B  23.397801  75.997894  66.286743  50.555908
C  62.425611  14.712186   3.429024  97.323160
D  83.885714  71.149910  35.512545  28.286585
E  59.676419  56.793323  11.266395   4.236952
F  12.370253  83.181236   7.990770  17.765918
G  21.819332  77.891506  49.616287  62.071815
H  28.317081  14.235639  61.722760  36.772142
I  73.945177   1.565151  69.060792  89.420183

In [31]:
# tipos das colunas
df.dtypes

coluna1    float64
coluna2    float64
coluna3    float64
coluna4    float64
dtype: object

In [39]:
df['coluna1'] = df['coluna1'].astype(int)
df.dtypes

coluna1      int64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [40]:
df['coluna3'] = df['coluna3'].astype(str)
df.dtypes

coluna1      int64
coluna2    float64
coluna3     object
coluna4    float64
dtype: object

In [42]:
df

   coluna1    coluna2             coluna3    coluna4
A       19   5.334578  42.255190796214734  17.274552
B       23  75.997894   66.28674306770573  50.555908
C       62  14.712186   3.429024060428465  97.323160
D       83  71.149910   35.51254489778491  28.286585
E       59  56.793323  11.266395108539617   4.236952
F       12  83.181236   7.990770106266865  17.765918
G       21  77.891506   49.61628656373127  62.071815
H       28  14.235639   61.72276021602391  36.772142
I       73   1.565151   69.06079187224358  89.420183

In [45]:
# acessando valor por linha e coluna
df.iloc[4, 2]

'11.266395108539617'

In [47]:
# inserindo um dado faltante no dataframe
df.iloc[4, 2] = np.nan

In [48]:
# NaN = Not a Number
df

   coluna1    coluna2             coluna3    coluna4
A       19   5.334578  42.255190796214734  17.274552
B       23  75.997894   66.28674306770573  50.555908
C       62  14.712186   3.429024060428465  97.323160
D       83  71.149910   35.51254489778491  28.286585
E       59  56.793323                 NaN   4.236952
F       12  83.181236   7.990770106266865  17.765918
G       21  77.891506   49.61628656373127  62.071815
H       28  14.235639   61.72276021602391  36.772142
I       73   1.565151   69.06079187224358  89.420183