# Tarefa 03

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os Tutores
- Divirta-se :)

In [3]:
import pandas as pd
import requests

####  1) Lendo de APIs
Vimos em aula como carregar dados públicos do governo através de um API (*Application Programming Interface*). No exemplo de aula, baixamos os dados de pedidos de verificação de limites (PVL) realizados por estados, e selecionamos apenas aqueles referentes ao estado de São Paulo.

1. Repita os mesmos passos feitos em aula, mas selecione os PVLs realizados por municípios no estado do Rio de Janeiro.
2. Quais são os três *status* das solicitações mais frequentes na base? Quais são suas frequências?
3. Construa uma nova variável que contenha o ano do **status**. Observe que ```data_status``` vem como tipo *object* no **DataFrame**. Dica: você pode usar o método ```.str``` para transformar o tipo da variável em string, em seguida um método como [**slice()**](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.slice.html) ou [**split()**](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.split.html).
4. Indique a frequência de cada ano do campo construído no item (3).

In [1]:
# 1) Seu código aqui
site = 'https://dados.gov.br/dataset/operacoes-copem'
url_rj = 'https://apidatalake.tesouro.gov.br/ords/sadipem/tt/pvl?uf=RJ&tipo_interessado=Munic%C3%ADpio'

In [6]:
# 2) Seu código aqui
data_json = requests.get(url_rj).json()

In [24]:
# 3) Seu código aqui
df = pd.DataFrame(data_json['items'])
df.head(3)

,id_pleito,tipo_interessado,interessado,cod_ibge,uf,num_pvl,status,num_processo,data_protocolo,tipo_operacao,finalidade,tipo_credor,credor,moeda,valor,pvl_assoc_divida,pvl_contradado_credor,data_status
0,10108,Município,São Pedro da Aldeia,3305208,RJ,None,Arquivado,17944.001122/2008-21,2009-03-06T03:00:00Z,Operação contratual interna,Caminho da Escola 2,Instituição Financeira Nacional,Banco do Brasil S/A,Real,598900.00,0,0,13/03/2009
1,5475,Município,Nova Iguaçu,3303500,RJ,None,Arquivado,17944.000122/2010-29,2010-12-03T02:00:00Z,Operação contratual interna,PAC - Pró-Moradia - 2009,Instituição Financeira Nacional,Caixa Econômica Federal,Real,48440939.24,0,0,14/12/2010
2,13574,Município,Rio de Janeiro,3304557,RJ,None,Deferido,19405.000028/2006-16,2007-04-30T03:00:00Z,Operação contratual interna,Saneamento básico,Instituição Financeira Nacional,Caixa Econômica Federal,Real,39528049.81,1,0,25/05/2007

In [39]:
df['status'].value_counts().head(3)

Deferido        90
Arquivado       53
Regularizado    25
Name: status, dtype: int64

In [269]:
format_dt = '%Y-%m-%dT%H:%M:%SZ'

deferido = df['status'] == 'Deferido'
arquivado = df['status'] == 'Arquivado'
regularizado = df['status'] == 'Regularizado'

freq_deferido = pd.to_datetime(df[deferido]['data_protocolo'], format=format_dt).dt.year.value_counts()
freq_arquivado = pd.to_datetime(df[arquivado]['data_protocolo'], format=format_dt).dt.year.value_counts()
freq_regularizado = pd.to_datetime(df[regularizado]['data_protocolo'], format=format_dt).dt.year.value_counts()

print('freq_deferido')
freq_deferido

freq_deferido

2014    14
2007    13
2011     8
2008     8
2012     6
2013     6
2002     5
2010     5
2020     4
2019     3
2016     3
2018     3
2006     2
2021     2
2017     2
2022     2
2015     2
2004     1
2009     1
Name: data_protocolo, dtype: int64

In [268]:
print('freq_arquivado')
freq_arquivado

freq_arquivado

2008    32
2010     9
2009     4
2006     4
2007     2
2005     2
Name: data_protocolo, dtype: int64

In [267]:
print('freq_regularizado')
freq_regularizado

freq_regularizado

2007    9
2014    3
2011    2
2009    2
2020    2
2012    2
2013    2
2018    1
2006    1
2010    1
Name: data_protocolo, dtype: int64

### Frequencia por ano dos protocolos Deferidos, Regularizados e Arquivados

In [273]:
df_freq = pd.DataFrame({
    'Deferido': freq_deferido,
    'Regularizado': freq_regularizado,
    'Arquivado': freq_arquivado,
})
df_freq

      Deferido  Regularizado  Arquivado
2002       5.0           NaN        NaN
2004       1.0           NaN        NaN
2005       NaN           NaN        2.0
2006       2.0           1.0        4.0
2007      13.0           9.0        2.0
2008       8.0           NaN       32.0
2009       1.0           2.0        4.0
2010       5.0           1.0        9.0
2011       8.0           2.0        NaN
2012       6.0           2.0        NaN
2013       6.0           2.0        NaN
2014      14.0           3.0        NaN
2015       2.0           NaN        NaN
2016       3.0           NaN        NaN
2017       2.0           NaN        NaN
2018       3.0           1.0        NaN
2019       3.0           NaN        NaN
2020       4.0           2.0        NaN
2021       2.0           NaN        NaN
2022       2.0           NaN        NaN

### Frequencia por ano da coluna data_status

In [256]:
df['ano_status'] = pd.to_datetime(df['data_status'], format='%d/%m/%Y').dt.year
df['ano_status']

df['ano_status'].value_counts()

2008    37
2007    29
2014    20
2010    19
2019    17
2013    15
2020    15
2012    13
2011    10
2009     9
2015     9
2022     7
2021     5
2017     5
2002     4
2016     4
2018     4
2006     4
2003     1
2004     1
Name: ano_status, dtype: int64

####  2) Melhorando a interação com o API
Observe dois URLs de consultas diferentes, por exemplo o URL utilizado em aula, e o URL feito no exercício anterior. Compare-os e observe as diferenças.

1. Faça uma função em Python que recebe como argumento o UF da consulta e o tipo de interessado (```'Estado'```ou ```Município```), e que devolve os dados da consulta no formato *DataFrame*.
2. Quantas solicitações para o Estado podem ser consultadas para Minas Gerais com *status* em 'Arquivado por decurso de prazo' estão registradas?
3. Qual é o município da Bahia com mais solicitações deferidas?
4. Salve um arquivo .csv com os dados de solicitações da Bahia, com interessado = 'Estado'

In [332]:
#1) Seu código aqui
import pandas as pd
import requests 


def make_df(uf, estado_or_municipio=True):
    if estado_or_municipio == True:
        tipo_interessado = 'Estado'
    else:
        tipo_interessado = 'Munic%C3%ADpio'

    url = 'https://apidatalake.tesouro.gov.br/ords/sadipem/tt/pvl?uf={}&tipo_interessado={}'.format(uf, tipo_interessado)

    try:
        response = requests.get(url)
        data_json = response.json()
        df = pd.DataFrame(data_json['items'])
        return df
    except Exception as error:
        print(str(error))
        return pd.DataFrame.empty

### Arquivado por decurso de prazo: Uma solicitação

In [345]:
# 2) Seu código aqui
df_mg = make_df('MG', True)
df_mg['status'].unique()

df_mg['status'].value_counts()

Encaminhado à PGFN com manifestação técnica favorável    20
Deferido                                                  7
Arquivado a pedido                                        5
Arquivado                                                 3
Arquivado pela STN                                        3
Arquivado por decurso de prazo                            1
Indeferido                                                1
Name: status, dtype: int64

### Luís Eduardo Magalhães, com um total de 14

In [360]:
# 3) Seu código aqui
df_ba = make_df('BA', False)

deferido_ba = df_ba['status'] == 'Deferido'

df_deferido_ba =  df_ba[deferido_ba]
df_deferido_ba['interessado'].value_counts()

Luís Eduardo Magalhães    14
Vitória da Conquista      11
Camaçari                  10
Lauro de Freitas          10
Barreiras                  8
                          ..
Cardeal da Silva           1
Ribeirão do Largo          1
Encruzilhada               1
Feira da Mata              1
Taperoá                    1
Name: interessado, Length: 173, dtype: int64

In [362]:
# 4) Seu código aqui
df_ba_2 = make_df('BA', True)
df_ba_2.to_csv('pvl_ba_estado.csv')