# Módulo 07 - Tarefa 02

#### 1) Carregue a base e garanta que a base está como deveria.

Considere a base que você ajustou na lição passada. Carregue-a. Caso ainda haja alguma pendência, ajuste - lembre-se de que o scikitlearn não recebe variáveis em formato string, somente numéricas, e não aceita '*missings*'. 

- Separe 70% da base para treinamento e 30% para validação. Cada uma dessas partes terá dois objetos, um armazenando a variável resposta ```mau```e outro armazenando as variáveis explicativas (lembrando: sem variáveis string, já com as dummies).

In [1]:
# Imports
import numpy as np
import pandas as pd
import seaborn as sns

In [5]:
c = pd.read_csv('input/demo02.csv')
c

,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,possui_celular,possui_fone_comercial,possui_fone,possui_email,qt_pessoas_residencia,mau,sexo_F,sexo_M
0,1,1,0,0,0,0,0,58.832877,3.106849,1,0,0,0,2.0,False,0,1
1,0,1,0,1,0,1,0,52.356164,8.358904,1,0,1,1,1.0,False,1,0
2,0,1,0,1,0,1,0,52.356164,8.358904,1,0,1,1,1.0,False,1,0
3,1,1,0,0,1,0,0,46.224658,2.106849,1,1,1,1,2.0,False,0,1
4,1,0,0,0,2,0,0,29.230137,3.021918,1,0,0,0,2.0,False,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,0,1,0,0,0,2,0,54.109589,9.884932,1,0,0,0,2.0,True,1,0
16646,0,1,0,1,0,0,0,43.389041,7.380822,1,1,1,0,2.0,True,1,0
16647,1,1,0,0,0,0,0,30.005479,9.800000,1,1,0,0,2.0,True,0,1
16648,1,1,0,0,0,0,0,30.005479,9.800000,1,1,0,0,2.0,True,0,1
16649,0,1,0,3,1,0,0,33.936986,3.630137,1,0,1,1,2.0,True,1,0

#### 2) Vamos para o modelo:

1. Defina um objeto com a função da árvore de decisão vista em aula.
2. Treine o modelo com os dados que você separou para treinamento.
3. Visualize a árvore. Talvez você queira aumentar um pouco a figura.
4. Produza uma visualização da matriz de classificação (ou matriz de confusão) - coloque os rótulos como "aprovados" e "reprovados" - pois afinal de contas, são essas as decisões que se podem tomar com propostas de crédito.
5. Calcule a acurácia na base de treinamento

#### 3) Vamos avaliar o modelo na base de testes

1. Classifique a base de teste de acordo com a árvore que você treinou no item 2.
2. Produza a visualização da matriz de confusão para a base de teste.
3. Calcule a acurácia da base de teste. Compare com a acurácia da base de treinamento.
4. Treine uma nova árvore com número mínimo de observações por folha de 5 e máximo de profundidade de 10. Use o random_state = 123. Avalie a matriz de classificação. Observe a distribuição da predição - qual a proporção de proponentes foram classificados como 'maus'?
5. Como ficaria a acurácia se você classificasse todos os contratos como 'bons'?